/* ---fonts--- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    background-color: #161616;
    color: white;
    width: 75%;
    height: 60%;
    border-radius: 10px;
    padding-left: 20px;
    text-align: center;
    position: absolute;

}

.heading {
    font-size: 50px;
}

.img {
    height: 100%;
}

.button {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.blog {
    background-color: white;
}

.second-position {
    background-color: #161616;
}

.button-blog {
    color: red;
}

.image-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px;

}

.image {
    border-radius: 5px;
    width: 400px;
    height: 200px;
}

p {
    color: #161616;
}

footer {
    background-color: #161616;
    color: white;
    text-align: center;
}

footer hr,
p {
    color: white;
}

.fa-facebook-square .fa-instagram-square .fa-linkedin {
    color: white;
}

/*---- Media Queries---- */
/* Mobile Devices */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .image-info footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        flex-direction: column;
    }
}

/* --tablet devices-- */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .image-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog {
        justify-content: center;
    }

}